# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.spec

# Caches
.mypy_cache/
.ruff_cache/

# Configuración local del usuario
~/.video2mp3.json

# Temporales
*.log
*.tmp
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
